#wrapper{
    width: 1480px;
    display: flex;
    flex-direction: column;
}
/* div1 */
#div1{
    width: 1480px;
    height: 80px;
    background-color: #6DBDFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-logo{
    width: 200px;
    height: 80px;
}
#menu{
    width: 600px;
    height: 55px;
    background-color: #B5CAEE;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.text-menu{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* div 2 */
#div2{
    padding-top: 30px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}
.text-title{
    font-weight: bold;
    font-size: 20px;
}
.text-small{
    font-weight: bold;
    font-size: 16px;
}
#admin{
    display: flex;
    /* justify-content: space-between; */
}
#info-admin{
    width: 300px;
    height: 250px;
    border: 1px solid gray;
}
#text-admin-div{
    width: 900px;
    height: 90px;
    border: 1px solid gray;
}