#wrapper {
    width: 1480px;
    display: flex;
    flex-direction: column;
}

/* div1 */
#div1 {
    width: 1480px;
    height: 710px;
    background-color: #b5caee;
}

#head {
    width: 1480px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 150px;
    height: 80px;
}

#menu {
    width: 600px;
    height: 55px;
    background-color: #B5CAEE;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-menu {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#banner {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

.prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2d8b9;
    margin: auto;
}

.img-prev {
    padding-top: 10px;
    padding-left: 10px;
}

#text {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.big-text {
    font-weight: bold;
    font-size: 50px;
}

.small-text {
    margin-top: -20px;
    width: 800px;
    font-size: 26px;
}

#btn-banner {
    padding-top: 20px;
    display: flex;
}

.btn-more {
    width: 110px;
    height: 40px;
    background-color: #F2D8B9;
    border: 0px;
    color: white;
    font-size: 16px;
}

.btn-contact {
    margin-left: 50px;
    width: 110px;
    height: 40px;
    background-color: #252525;
    border: 0px;
    color: white;
    font-size: 16px;
}

.img-next {
    padding-top: 10px;
    padding-left: 20px;
}

.next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2d8b9;
    margin: auto;
}

/* div2 */
#div2 {
    width: 1480px;
    height: 550px;
    position: relative;
}

.img-div2 {
    height: 550px;
}

#div2-main {
    display: flex;
    position: relative;
}

.main-left {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 600px;
    height: 300px;
    margin-top: -440px;
    margin-left: 250px;
}

.ml-big-text {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ml-small-text {
    font-size: 20px;
}

.ml-btn {
    color: white;
    background-color: #252525;
    font-size: 16px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
}

.img-right {
    position: absolute;
    width: 380px;
    height: 440px;
    margin-top: -500px;
    margin-left: 920px;
}

/* div3 */
#div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1DCF9;
    height: 600px;
}

.div3-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div3-title {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.div3-text {
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
}

.div3-bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.div3-sp {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid gray;
    align-items: center;
    width: 250px;
    height: 350px;
    margin-left: 40px;
}

.div3-sp-img {
    margin-top: 10px;
    width: 220px;
    height: 230px;
    /* border: black 1px solid; */
    border-radius: 10px;

}

.img-sp {
    width: 220px;
    height: 230px;
}

.money-sp {
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

.best-sp {
    margin-top: -18px;
    font-size: 22px;
    color: white;

}

.div-ratting-sold {
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
}

.icon-ratting-RP {

    margin: auto;
}

.text-prd {
    padding-left: 60px;
}

/* div4 */
#div4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 100px;
    height: 480px;
}

.div4-r1 {
    font-size: 30px;
    font-weight: bold;
}

.div4-r2 {
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
}

.div4-r3 {
    padding-top: 20px;
    display: flex;
}

.r3-left {
    width: 740px;
    /* 50% độ dài màn hình */
    display: flex;
    align-items: center;
}

.r3-right {
    width: 740px;
    /* 50% độ dài màn hình */
    display: flex;
    align-items: center;
}

.r3-left-text {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.rlt-1 {
    color: #6DBDFB;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.rlt-2 {
    margin-top: -10px;
    width: 450px;
    font-size: 20px;
}
/* div5 */
#div5{
    height: 250px;
    background-color: #C1DCF9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div5-txt{
    color: white;
    width: 200px;
    text-align: center;
}
/* div6 */
#div6{
    background-color: #252525;
    height: 60px;
}
.txt-end{
    color: white;
    text-align: center;
    
}
.address{
    text-decoration: none;
}